body{
    margin:0;
    background-color: #FBE4FF;
}
 header{
 display:flex;
 background-color: #243B93;
 /* justify-content: space-around; */
 align-items: center;
 width:100%;
 height:65px;
}
header img{
 margin-left:300px;
 margin-right:150px;
}
ul{
 display:flex;
 list-style: none;
 align-items: center;
 justify-content: space-between;
}
li{
 padding-right:5px;
 font-size:16px;
 color:white;
 line-height:21px;
 letter-spacing: 2.5px;
 font-weight:700;
 padding-right:45px;
}
li:last-child{
 padding-right:0;
}
.world-icon{
 display:flex;
 align-items: center;
 font-size:25px;
 font-weight:700;
 color:white;
}
.world-icon p{
 margin-left:10px;
}
.reserve-house{
 background-color: #BFF0FF;
 font-style:italic;
 color:#202846;
 font-size:44px;
}
.reserve-house h2{
 margin:0;
 font-weight:400;
 padding-top:16px;
 padding-bottom:11px;
 margin-left:10%;
}
.your-location{
 text-align: center;
 background-color: white;
 color:#0000009C;
 font-size:28px;
 width:1321px;
 height:57px;
 margin-left:300px;
 margin-top:25px;
}
.your-location p{
 padding-top:10px;
}
.your-location img{
 height:40%;
 margin:0;
 float:right;
 position:relative;
 top:-95%;
 right:1%;
}
.card{
 width:80%;
 margin:30px 10% ;
 display:flex;
 background:linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
 height:300px;
}
.card img{
 align-self:center;
 margin-left:4%;
 height:80%;
}
.card h3{
 margin-top:2%;
 margin-bottom:0;
 margin-left:3%;
 font-size:36px;
 font-style: italic;
 line-height:46px;
 position: relative;
}
.description{
 margin:15px 5% 0 3%;
 background-color:#EDFBFF;
 height:63%;
 width:85%;
 font-size:22px;
 font-weight: 400;
 line-height:28px;
}
.description p{
 display:inline-block;
 margin: 10px 25px;
}
.bottom-line{
 width:85%;
 border-bottom: 3px solid #FFFFFF;
 margin-left:3%;
 margin-bottom:1%;
}
.card svg{
 position:absolute;
 left:85%;
 top:32%;    
}
.second-card svg{
 position:absolute;
 left:85%;
 top:66%;
}
.third-card svg{
 position:absolute;
 left:85%;
 top:100%;
}
.fourth-card svg{
 position:absolute;
 left:85%;
 top:134%;
}
.card button{
 position:absolute;
 top:55%;
 left:80%;
 height: 46px;
 background-color: #243B93;
 border-radius:30px;
 width:210px;
 color:white;
 font-size:24px;
}
.second-card button{
 position:absolute;
 top:89%;
}
.third-card button{
 position:absolute;
 top:123%;
}
.fourth-card button{
 position: absolute;
 top:157%;
}
.card:hover {
 background: #2CBDEB;
}
.card:hover button{
background-color:#EF075B ;
}
.card:hover  path{
fill:#FFF500 ;
}
.up-arrow{
   position:fixed;
   left:88%;
   top:80%;
   background: rgba(48, 12, 106, 0.3);
   width:100px;
   height:100px;
   border-radius:50%;
}
.up-arrow img{
  position:relative;
  left:37%;
  top:26%;
} 
.personal-page{
 background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
 font-size:44px;
 color:#243B93;
 font-style:italic;
 line-height: 56px;
 margin-bottom:35px;
}
.personal-page h2{
 margin:0;
 font-weight:400;
 padding-top:16px;
 padding-bottom:11px;
 margin-left:10%;
}
.personal-card{
 background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
 width:80%;
 margin:0 10%;
 display:flex;
 padding-bottom:25px;
 margin-bottom:25px;
}
.card-settings{
 display:flex;
 flex-direction:column;
 justify-content: space-evenly;
 margin:3% 15%;
}
.btn{
 height: 46px;
 background-color: #243B93;
 border-radius:30px;
 width:210px;
 color:white;
 font-size:24px;
}
.card-info{
 margin-left:5%;
 font-style:italic;
}
.settings{
 background-color:#EF075B;
}
.card-settings button{
 margin-top:20px;
}
.card-info{
 font-size:36px;
}
.card-info p{
 margin-bottom:0;
}
.card-info .bottom-line{
 margin:0;
 width:100%;
}
.exit-btn{
 width:180px;
 display:block;
 margin:20px auto;
}
.bold{
 font-weight: bold;
}
.contacts-page{
background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
}
.contacts{
 width:80%;
 margin:0 10%;
 display:flex;
 justify-content: space-between;
 font-size:32px;
 line-height:41px;
}
.contacts p{
 margin:0 10px;
}
.contacts .bottom-line{
 margin:0;
 border-bottom: 3px solid black;
 width:100%;
}
.phone{
 margin-bottom:15px;
}
.map{
 width:500px;
 height:290px;
 border: 3px solid #243B93;
 border-radius: 40px;
 overflow: hidden;
}
footer{
 margin-top:25px;
 display:flex;
 align-items: center;
 width:100%;
 height:65px;
 background: #243B93;
 font-size:16px;
 line-height:21px;
 font-weight: 700;
 color:white;
}
footer p{
 margin-left:10%;
}

